%h1 Index

%p
  - unless person_signed_in?
    = link_to image_tag('login-button.png'), person_omniauth_authorize_path(:facebook), :title => t('login_with_facebook')
  - else
    = "Thank you, #{current_person.name}"
    = link_to "(sign out)", destroy_person_session_path