#container
  .panel
    padding: 10px
    border: 1px solid grey
    
  ul.menu
    list-style-type: none
    position: relative
    width: 100%
    text-align: center
    li
      display: inline
      margin-right: 30px
  #header
    height: 200px
    .panel
      height: 180px
  #content
  #sidebar
    height: 100%
    .panel
      height: 100%
  #footer
    height: 300px
    .panel
      height: 280px
    
#flash
  position: absolute
  width: 100%
  text-align: center