/ = link_to image_tag('login-button.png'), person_omniauth_authorize_path(:facebook), :title => t('login_with_facebook')
%fb:login-button{ 'registration-url' => new_person_registration_path, 'on-login' => "fb_login();" }